<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./stylesheets/style.css">
  <title>About</title>
</head>

<body>

  <ul id="navigation">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/works">Works</a></li>
    <li><a href="/photo-gallery">Photo Gallery</a></li>
  </ul>
  <h1>About</h1>
  <div class="container">
    <p>Antoine de Saint-Exupéry, in full Antoine-Marie-Roger de Saint-Exupéry, (born June 29, 1900, Lyon, France—died
      July 31, 1944, near Marseille), French aviator and writer whose works are the unique testimony of a pilot and a
      warrior who looked at adventure and danger with a poet’s eyes. His fable Le Petit Prince (The Little Prince) has
      become a modern classic.
      <br>
     Saint-Exupéry came from an impoverished aristocratic family. A poor student, he failed the entrance examination
      to the École Navale and then studied architecture for several months at the École des Beaux-Arts. In 1921 he was
      conscripted into the French air force, and he qualified as a military pilot a year later. In 1926 he joined the
      Compagnie Latécoère in Toulouse and helped establish airmail routes over northwest Africa, the South Atlantic, and
      South America. In the 1930s he worked as a test pilot, a publicity attaché for Air France, and a reporter for
      Paris-Soir. In 1939, despite permanent disabilities resulting from serious flying accidents, he became a military
      reconnaissance pilot.</p><img src="./images/prince.jpg" alt="little-prince"><p> After the fall of France (1940), he left for the United States; he remained there until
      1943, when he resumed flying with his former squadron in the Mediterranean theatre. In 1944 he took off from an
      airfield in Corsica to conduct a reconnaissance mission over France and never returned.</p> Sixty years later,
      wreckage raised from the seabed near Marseille was identified as belonging to his plane. It had probably been shot
      down by an enemy fighter, though the cause of the crash may never be known.</p>
  </div>
</body>

</html>