<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./stylesheets/style.css">
  <title>Gallery</title>
</head>

<body>
  <ul id="navigation">
    <li><a href="/">Home</a></li>
    <li><a href="/about">Works</a></li>
    <li><a href="/works">Photo Gallery</a></li>
    <li><a href="/photo-gallery">Photo Gallery</a></li>
  </ul>
  <h1>Gallery</h1>
  <div class="first">
    <div>
      <img src="/images/ant1.webp" alt="">
    </div>
    <div>
      <img src="/images/ant2.jpg" alt="">
    </div>
    <div>
      <img src="/images/ant3.jpg" alt="">
    </div>
    <div>
      <img src="/images/ant4.webp" alt="">
    </div>
  </div>
  <hr>
  <h1>Quotes</h1>
  <div class="second">
    <div>
      <img src="/images/quote1.jpg" alt="">
    </div>
    <div>
      <img src="/images/quote2.jpg" alt="">
    </div>
    <div>
      <img src="/images/quote3.webp" alt="">
    </div>
    <div>
      <img src="/images/quote4.jpg" alt="">
    </div>
  </div>
</body>

</html>